.wallets-container {
  padding: 20px;
  background-color: #f9fafb;
  min-height: calc(100vh - 60px); /* adjust for header */
  overflow-y: auto; /* enable scroll if content is long */
}

.wallets-container h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #111827;
}

.wallets-stats {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.wallets-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
}

.wallets-table th,
.wallets-table td {
  padding: 12px 15px;
  font-size: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.wallets-table th {
  background: #f9fafb;
  font-weight: 600;
  color:blue;
}

.wallets-table tbody tr:hover {
  background: #f3f4f6;
}

.wallets-table td:last-child {
  color: white; /* Edit button color */
  cursor: pointer;
  font-weight: 500;
}

.editbtn{
  color: white;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;

}


 